<div style="width:960px;margin-top: 25px;text-align:center;">
  <% if @tornado_session_username %>
    <span style="color:red;font-size:24px;"><%= t.post.Bad_username_or_password%></span>
  <% end %>
  <form action="/login" method="post">
    <table style="margin-left: auto; margin-right: auto;">
      <tr>
        <td style="text-align:right;"><%= t.post.Username %>:</td>
        <td>
          <input type="text" name="username" <%=
            "value='#{h(@tornado_session_username)}'" if @tornado_session_username
          %>>
        </td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= t.post.Password %>:</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td align="center" colspan="2">
          <input type="submit" name="Login" value=<%= t.post.Login %>>
        </td>
      </tr>
    </table>
  </form>
</div>
