<table id="main">
  <tr id="cluster_title_row" {{bind-attr style=Pcs.manage_page}}><td id="page_header" colspan=3 style="vertical-align:middle;">
      <table id="manage_cluster_commands"><tr>
	  <td>
            <%= t.post.MANAGE_CLUSTERS %>
	  </td>
	  </td>
	  <td>
	      <a href="#" class="x sprites"></a>
	    <div class="link">
              <a id="manage_remove_cluster" href="#" onclick="verify_remove_clusters();"><%= t.post.Remove %></a>
	    </div>
	  </td>
	  <td>
	    <a href="#" class="plus sprites"></a>
	    <div class="link">
              <a id="manage_add_cluster" href="#" onclick="add_existing_dialog();"><%= t.post.Add_Existing %></a>
	    </div>
	  </td>
	  <td>
	    <a href="#" class="x sprites"></a>
	    <div class="link">
              <a id="manage_destroy_cluster" href="#" onclick="clusterDestroy.dialog.create();"><%= t.post.Destroy %></a>
	    </div>
	  </td>
	  <td>
	    <a href="#" class="plus sprites"></a>
	    <div class="link">
              <a id="manage_create_cluster" href="#" onclick="clusterSetup.dialog.create();"><%= t.post.Create_New %></a>
	    </div>
	  </td>
	</tr>
      </table>
    </td>
  </tr>
  <tr id="cluster_header_row" {{bind-attr style="Pcs.manage_page"}}>
    <td class="borderbottom" colspan=3>
    </td>
  </tr>
  <tr id="cluster_list_row" {{bind-attr style="Pcs.manage_page"}}>
    <td id="cluster_list" class="node_list" style="width:350px;">
      <%= erb :_cluster_list %>
    </td>
    <td id="node_info" colspan=2>
      <div id="node_info_header">
        <div id="node_info_header_title"><%= t.post.INFORMATION_ABOUT_CLUSTERS %></div>
      </div>
      <div id="node_sub_info">
        {{#if Pcs.clusterController.cur_cluster}}
        <div {{bind-attr id=Pcs.clusterController.cur_cluster.div_id}}>
          <table>
            <tr>
              <td style="text-align:right">
                <b><%= t.post.Cluster%>:</b>&nbsp;
              </td>
              <td>
                {{#if Pcs.clusterController.cur_cluster.forbidden}}
                  {{Pcs.clusterController.cur_cluster.name}}
                {{else}}
                  <a {{bind-attr href=Pcs.clusterController.cur_cluster.url_link}}>{{Pcs.clusterController.cur_cluster.name}}</a> {{{Pcs.clusterController.cur_cluster.quorum_show}}}
                {{/if}}
              </td>
            </tr>
            {{#if Pcs.clusterController.cur_cluster.error_list}}
            <tr><td style="text-align:right"><b><%= t.post.Errors%>:</b>&nbsp;</td><td></td></tr>
            {{/if}}
            {{#each Pcs.clusterController.cur_cluster.error_list}}
              <tr><td></td><td style="color: red;">{{{message}}}</td></tr>
            {{/each}}
            {{#if Pcs.clusterController.cur_cluster.warning_list}}
            <tr><td style="text-align:right"><b><%= t.post.Warnings%>:</b>&nbsp;</td><td></td></tr>
            {{/if}}
            {{#each Pcs.clusterController.cur_cluster.warning_list}}
              <tr><td></td><td style="color: orange;">{{{message}}}</td></tr>
            {{/each}}
          </table><br>
          {{#unless Pcs.clusterController.cur_cluster.forbidden}}
          <table style="clear:left;float:left" class="nodes_list">
            <tr>
              <td class="datatable_header hover-pointer" onclick="show_hide_dashboard(this, 'nodes');">
                <span style="display: none;" class="downarrow sprites"></span>
                <span style="" class="rightarrow sprites"></span>
                <%= t.post.Nodes%> ({{Pcs.clusterController.cur_cluster.nodes.length}} | {{#if Pcs.clusterController.cur_cluster.nodes_failed}}<span style="color: red"><%= t.post.issues%>: {{Pcs.clusterController.cur_cluster.nodes_failed}}{{else}}<span style="color: green;">OK{{/if}}</span>)
                  <span style="font-size: 10px;">(<%= t.post.displaying%> {{#if Pcs.clusterController.show_all_nodes}}<%= t.post.all%>{{else}}<%= t.post.only_issues%>{{/if}})</span>
              </td>
            </tr>
            <tr>
              <td>
                <table class="datatable">
                  <tr>
                    <th style="width: 150px;"><%= t.post.NODE%></th>
                    <th style="width: 100px;"><%= t.post.STATUS%></th>
                    <th style="width: 70px;"><%= t.post.QUORUM%></th>
                  </tr>
                  {{#each node in Pcs.clusterController.cur_cluster.nodes}}
                  <tr {{bind-attr title=node.tooltip}} {{bind-attr class=node.status_class}}>
                    <td><a {{bind-attr href=node.url_link}}>{{node.name}}</a></td>
                    <td {{bind-attr style=node.status_style}}>{{{node.status_icon}}}{{node.status}}</td>
                    <td>{{{node.quorum_show}}}</td>
                  </tr>
                  {{/each}}
                </table>
              </td>
            </tr>
          </table>
          {{#unless Pcs.clusterController.cur_cluster.status_unknown}}
          <table style="clear:left;float:left" class="resources_list">
            <tr>
              <td class="datatable_header hover-pointer" onclick="show_hide_dashboard(this, 'resources');">
                <span style="display: none;" class="downarrow sprites"></span>
                <span style="" class="rightarrow sprites"></span>
                <%= t.post.Resources%> ({{Pcs.clusterController.cur_cluster.resource_list.length}} | {{#if Pcs.clusterController.cur_cluster.resources_failed}}<span style="color: red"><%= t.post.issues%>: {{Pcs.clusterController.cur_cluster.resources_failed}}{{else}}<span style="color: green;">OK{{/if}}</span>)
                  <span style="font-size: 10px;">(<%= t.post.displaying%> {{#if Pcs.clusterController.show_all_resources}}<%= t.post.all%>{{else}}<%= t.post.only_issues%>{{/if}})</span>
              </td>
            </tr>
            <tr>
              <td>
                <table class="datatable">
                  <tr>
                    <th style="width: 170px;"><%= t.post.RESOURCE%></th>
                    <th style="width: 150px;"><%= t.post.STATUS%></th>
                  </tr>
                  {{#each r in Pcs.clusterController.cur_cluster.resource_list}}
                  <tr {{bind-attr title=r.tooltip}} {{bind-attr class=r.status_class}}>
                    <td><a {{bind-attr href=r.url_link}}>{{r.id}}</a></td>
                    <td {{bind-attr style=r.status_style}}>
                      {{{r.status_icon}}}{{r.status}}
                      {{#if r.is_unmanaged}}
                        (unmanaged)
                      {{/if}}
                    </td>
                  </tr>
                  {{else}}
                  <tr>
                    <td><%= t.post.No_resources%></td>
                    <td></td>
                  </tr>
                  {{/each}}
                </table>
              </td>
            </tr>
          </table>
          <table style="clear:left;float:left" class="fence_list">
            <tr>
              <td class="datatable_header hover-pointer" onclick="show_hide_dashboard(this, 'fence');">
                <span style="display: none;" class="downarrow sprites"></span>
                <span style="" class="rightarrow sprites"></span>
                <%= t.post.Fence_devices%> ({{Pcs.clusterController.cur_cluster.fence_list.length}} | {{#if Pcs.clusterController.cur_cluster.fence_failed}}<span style="color: red"><%= t.post.issues%>: {{Pcs.clusterController.cur_cluster.fence_failed}}{{else}}<span style="color: green;">OK{{/if}}</span>)
                  <span style="font-size: 10px;">(<%= t.post.displaying%> {{#if Pcs.clusterController.show_all_fence}}<%= t.post.all%>{{else}}<%= t.post.only_issues%>{{/if}})</span>
              </td>
            </tr>
            <tr>
              <td>
                <table class="datatable">
                  <tr>
                    <th style="width: 170px;"><%= t.post.Fence_device%></th>
                    <th style="width: 150px;"><%= t.post.STATUS%></th>
                  </tr>
                  {{#each f in Pcs.clusterController.cur_cluster.fence_list}}
                  <tr {{bind-attr title=f.tooltip}} {{bind-attr class=f.status_class_fence}}>
                    <td><a {{bind-attr href=f.url_link}}>{{f.id}}</a></td>
                    <td {{bind-attr style=f.status_style}}>{{{f.status_icon}}}{{f.status}}</td>
                  </tr>
                  {{else}}
                  <tr>
                    <td><%= t.post.No_fence_devices%></td>
                    <td></td>
                  </tr>
                  {{/each}}
                </table>
              </td>
            </tr>
          </table>
          {{/unless}}
          {{/unless}}
        </div>
        {{else}}
        <div id="no_cluster_selected"><%= t.post.SACTVMDCI %></div>
        {{/if}}
      </div>
    </td>
  </tr>
</table>
<%= erb :_dialogs %>
<div id="add_existing_cluster" style="display: none;">
  <form id="add_existing_cluster_form" action="/manage/existingcluster" method="post">
    <br>
    <%= t.post.Enter_the_name_of_a_node_in_a_cluster_that_you_would_like_to_manage%>:
    <br>
    <br>
    <table class="err_msg_table" style="width: 100%">
      <tr><td align=center style="color: red" colspan=2"><span id="unable_to_connect_error_msg_ae" style="display:none;">Unable to contact node.<br>Please make sure pcsd is started.<br/></span>
        <span id="add_existing_cluster_error_msg" style="display:none;">
        </span>
      </td></tr>
    </table>
    <table>
      <tr><td align=right><%= t.post.Node_Name%>:</td><td><input size="50" name="node-name" type="text"></td></tr>
    </table>
  </form>
</div>

<!-- CLUSTER SETUP HELP TEXTS - START -->

<!-- transport types -->
<% transport_type_knet = "
This is the default transport. It allows configuring traffic encryption and
compression as well as using multiple addresses (links) for nodes.
"%>

<% transport_type_udp = "
This transport is limited to one address per node. It does not support traffic
encryption nor compression.
"%>
<!-- udp options -->
<% udp_netmtu = "
This specifies the network maximum transmit unit. To set this value beyond
1500, the regular frame MTU, requires ethernet devices that support large, or
also called jumbo, frames. If any device in the network doesn't support large
frames, the protocol will not operate properly. The hosts must also have their
mtu size set from 1500 to whatever frame size is specified here.
<br/><br/>

Please note while some NICs or switches claim large frame support, they support
9000 MTU as the maximum frame size including the IP header. Setting the netmtu
and host MTUs to 9000 will cause totem to use the full 9000 bytes of the frame.
Then Linux will add a 18 byte header moving the full frame size to 9018. As
a result some hardware will not operate properly with this size of data. A
netmtu of 8982 seems to work for the few large frame devices that have been
tested. Some manufacturers claim large frame support when in fact they support
frame sizes of 4500 bytes.
<br/><br/>

When sending multicast traffic, if the network frequently reconfigures, chances
are that some device in the network doesn't support large frames.
<br/><br/>

Choose hardware carefully if intending to use large frame support.
<br/><br/>

The default is 1500.
"%>

<!-- udp link options -->
<% udp_bindnetaddr = "
This specifies the network address the corosync executive should bind to when
using udp.
<br/><br/>

For example, if the local interface is 192.168.5.92 with netmask 255.255.255.0,
you should set bindnetaddr to 192.168.5.0. If the local interface is
192.168.5.92 with netmask 255.255.255.192, set bindnetaddr to 192.168.5.64, and
so forth.
<br/><br/>

This may also be an IPV6 address, in which case IPV6 networking will be used.
In this case, the exact address must be specified and there is no automatic
selection of the network interface within a specific subnet as with IPv4.
"%>

<% udp_broadcast = "
If this is enable, the broadcast address will be used for communication. If
this option is enabled, Multicast address should not be set.
"%>

<% udp_mcastaddr = "
This is the multicast address used by corosync executive. The default should
work for most networks, but the network administrator should be queried about a
multicast address to use. Avoid 224.x.x.x because this is a 'config' multicast
address.
<br/><br/>

This may also be an IPV6 multicast address, in which case IPV6 networking will
be used.
"%>

<% udp_mcastport = "
This specifies the UDP port number. It is possible to use the same multicast
address on a network with the corosync services configured for different UDP
ports. Please note corosync uses two UDP ports: Multicast Port (for mcast
receives) and Multicast Port - 1 (for mcast sends). If you have multiple
clusters on the same network using the same Multicast Address please configure
the Multicast Ports with a gap.
"%>

<% udp_ttl = "
This specifies the Time To Live (TTL). If you run your cluster on a routed
network then the default of '1' will be too small. This option provides a way to
increase this up to 255. The valid range is 0..255.
"%>

<!-- knet options -->
<% knet_pmtud_interval = t.post.knet_pmtud_interval%>

<% knet_link_mode = t.post.knet_link_mode%>


<!-- knet link options -->
<% knet_link_priority = t.post.knet_link_priority%>

<% knet_ping_interval = t.post.knet_ping_interval%>

<% knet_ping_precision = t.post.knet_ping_precision%>

<% knet_ping_timeout = t.post.knet_ping_timeout%>

<% knet_pong_count = t.post.knet_pong_count%>

<% knet_transport = t.post.knet_transport%>

<% knet_mcastport = t.post.knet_mcastport%>


<!-- knet compression options -->
<% knet_compression_model = t.post.knet_compression_model%>

<% knet_compression_threshold = t.post.knet_compression_threshold%>

<% knet_compression_level = t.post.knet_compression_level%>

<!-- knet crypto options -->
<% knet_crypto_model = t.post.knet_crypto_model%>

<% knet_crypto_hash = t.post.knet_crypto_hash%>

<% knet_crypto_cipher = t.post.knet_crypto_cipher%>

<!-- totem options -->
<% totem_consensus = t.post.totem_consensus%>

<% totem_downcheck = t.post.totem_downcheck%>

<% totem_fail_recv_const = t.post.totem_fail_recv_const%>

<% totem_heartbeat_failures_allowed = t.post.totem_heartbeat_failures_allowed%>

<% totem_hold = t.post.totem_hold%>

<% totem_join = t.post.totem_join%>

<% totem_max_messages = t.post.totem_max_messages%>

<% totem_max_network_delay = t.post.totem_max_network_delay%>

<% totem_merge = t.post.totem_merge%>

<% totem_miss_count_const = t.post.totem_miss_count_const%>

<% totem_send_join = t.post.totem_send_join%>

<% totem_seqno_unchanged_const = t.post.totem_seqno_unchanged_const%>

<% totem_token = t.post.totem_token%>

<% totem_token_coefficient = t.post.totem_token_coefficient%>

<% totem_token_retransmit = t.post.totem_token_retransmit%>

<% totem_token_retransmits_before_loss_const = t.post.totem_token_retransmits_before_loss_const%>

<% totem_window_size = t.post.totem_window_size%>


<!-- quorum options -->
<% quorum_auto_tie_breaker = t.post.quorum_auto_tie_breaker%>

<% quorum_last_man_standing = t.post.quorum_last_man_standing%>

<% quorum_last_man_standing_window = t.post.quorum_last_man_standing_window%>

<% quorum_wait_for_all = t.post.quorum_wait_for_all%>


<!-- CLUSTER SETUP HELP TEXTS - END -->

<div id="csetup" style="display: none;">
  <form class="step cluster-name-nodes">

    <p>
    <%= t.post.Cluster_Name%>: <input type="text" name="clustername"></input>
    </p>
    <fieldset>
      <legend><%= t.post.Nodes%></legend>
      <p>
      <%= t.post.Enter_the_names_of_the_nodes_you_would_like_to_use_to_create_a_cluster%>
      </p>
      <table>
        <tr>
          <td><%= t.post.Node%> 1:</td>
          <td><input type="text" name="node[]"/></td>
        </tr>
        <tr>
          <td><%= t.post.Node%> 2:</td>
          <td><input type="text" name="node[]"/></td>
        </tr>
        <tr>
          <td><%= t.post.Node%> 3:</td>
          <td><input type="text" name="node[]"/></td>
        </tr>
        <tr>
          <td></td>
          <td
            class="action-link add-nodes"
            onclick="clusterSetup.dialog.addNode();"
            >
            <%= t.post.More_nodes%>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>

  <div class="step cluster-settings">
    <ul>
      <li><a href="#csetup-transport"><%= t.post.Transport%></a></li>
      <li><a href="#csetup-quorum"><%= t.post.Quorum%></a></li>
      <li><a href="#csetup-totem"><%= t.post.Totem%></a></li>
    </ul>

    <div id="csetup-transport">
      <fieldset class="transport-types">
        <legend>Select transport type</legend>
        <div title="<%= h(transport_type_knet) %>">
          <input type="radio"
            name="transport"
            id="csetup-transport-knet"
            onchange="clusterSetup.transportType.adaptToCurrent()"
          />
          <label for="csetup-transport-knet">knet</label>
        </div>
        <div title="<%= h(transport_type_udp) %>">
          <input type="radio"
            name="transport"
            id="csetup-transport-udp"
            onchange="clusterSetup.transportType.adaptToCurrent()"
          />
          <label for="csetup-transport-udp">udp</label>
        </div>
        <div title="<%= h(transport_type_udp) %>">
          <input type="radio"
            name="transport"
            id="csetup-transport-udpu"
            onchange="clusterSetup.transportType.adaptToCurrent()"
          />
          <label for="csetup-transport-udpu">udpu</label>
        </div>
      </fieldset>

      <div class="csetup-transport-sections">
        <ol>
          <li>
            <a href="#csetup-transport-netmaps"><%= t.post.Addresses_and_Links%></a>
          </li>
          <li><a href="#csetup-transport-options"><%= t.post.Options%></a></li>
        </ol>

        <div id="csetup-transport-netmaps">
          <div class="action-link add-link"><%= t.post.Add_link%></div>
          <!--
            For each transport type (knet, udp, udpu)
            the snippet transport-links-setting is put here (in js code).
          -->
        </div>

        <div id="csetup-transport-options">
          <fieldset class="options-container">
            <legend><%= t.post.Transport_options%></legend>
          </fieldset>

          <fieldset class="compression-options">
            <legend><%= t.post.Compression_options%></legend>
            <table class="key-value knet-only">
              <tr title="<%= h(knet_compression_model) %>">
                <td><%= t.post.Model%>:</td>
                <td><input type="text" name="model" /></td>
              </tr>
              <tr title="<%= h(knet_compression_threshold) %>">
                <td><%= t.post.Threshold%>:</td>
                <td><input type="text" name="threshold" /><%= t.post.bytes%></td>
              </tr>
              <tr title="<%= h(knet_compression_level) %>">
                <td><%= t.post.Level%>:</td>
                <td><input type="text" name="level" /></td>
              </tr>
            </table>
            <p class="without-knet">
            <%= t.post.Compression_is_supported_only_with_knet%>
            </p>
          </fieldset>

          <fieldset class="crypto-options">
            <legend><%= t.post.Crypto_options%></legend>
            <table class="key-value knet-only">
              <tr title="<%= h(knet_crypto_model) %>">
                <td><%= t.post.Model%>:</td>
                <td>
                  <select name="model">
                    <option value="">(<%= t.post.Default%>)</option>
                    <option value="nss">nss</option>
                    <option value="openssl">openssl</option>
                  </select>
                </td>
              </tr>
              <tr title="<%= h(knet_crypto_hash) %>">
                <td><%= t.post.Hash%>:</td>
                <td>
                  <select name="hash">
                    <option value="">(<%= t.post.Default%>)</option>
                    <option value="none">none</option>
                    <option value="md5">md5</option>
                    <option value="sha1">sha1</option>
                    <option value="sha256">sha256</option>
                    <option value="sha384">sha384</option>
                    <option value="sha512">sha512</option>
                  </select>
                </td>
              </tr>
              <tr title="<%= h(knet_crypto_cipher) %>">
                <td><%= t.post.Cipher%>:</td>
                <td>
                  <select name="cipher">
                    <option value="">(<%= t.post.Default%>)</option>
                    <option value="none">none</option>
                    <option value="3des">3des</option>
                    <option value="aes128">aes128</option>
                    <option value="aes192">aes192</option>
                    <option value="aes256">aes256</option>
                  </select>
                </td>
              </tr>
            </table>
            <p class="without-knet">
            <%= t.post.Encryption_is_supported_only_with_knet%>
            </p>
          </fieldset>
        </div>
      </div>
    </div>
    <div id="csetup-totem">
      <table class="key-value">
        <tr title="<%= h(totem_consensus) %>">
          <td><%= t.post.Consensus_Timeout%>:</td>
          <td><input type="text" name="consensus" /> ms</td>
        </tr>

        <tr title="<%= h(totem_downcheck) %>">
          <td><%= t.post.Downcheck_Timeout%>:</td>
          <td><input type="text" name="downcheck" /> ms</td>
        </tr>

        <tr title="<%= h(totem_fail_recv_const) %>">
          <td><%= t.post.Fail_Receive_Constant%>:</td>
          <td><input type="text" name="fail_recv_const" /></td>
        </tr>

        <tr title="<%= h(totem_heartbeat_failures_allowed) %>">
          <td><%= t.post.Heartbeat_Failures_Allowed%>:</td>
          <td><input type="text" name="heartbeat_failures_allowed" /></td>
        </tr>

        <tr title="<%= h(totem_hold) %>">
          <td><%= t.post.Hold_Timeout%>:</td>
          <td><input type="text" name="hold" /> ms</td>
        </tr>

        <tr title="<%= h(totem_join) %>">
          <td><%= t.post.Join_Timeout%>:</td>
          <td><input type="text" name="join" /> ms</td>
        </tr>

        <tr title="<%= h(totem_max_messages) %>">
          <td><%= t.post.Max_Messages%>:</td>
          <td><input type="text" name="max_messages" /></td>
        </tr>

        <tr title="<%= h(totem_max_network_delay) %>">
          <td><%= t.post.Max_Network_Delay%>:</td>
          <td><input type="text" name="max_network_delay" /> ms</td>
        </tr>

        <tr title="<%= h(totem_merge) %>">
          <td><%= t.post.Merge_Timeout%>:</td>
          <td><input type="text" name="merge" /> ms</td>
        </tr>

        <tr title="<%= h(totem_miss_count_const) %>">
          <td><%= t.post.Miss_Count_Constant%>:</td>
          <td><input type="text" name="miss_count_const" /></td>
        </tr>

        <tr title="<%= h(totem_send_join) %>">
          <td><%= t.post.Send_Join_Timeout%>:</td>
          <td><input type="text" name="send_join" /> ms</td>
        </tr>

        <tr title="<%= h(totem_seqno_unchanged_const) %>">
          <td><%= t.post.Seqno_Unchanged_Constant%>:</td>
          <td><input type="text" name="seqno_unchanged_const" /></td>
        </tr>

        <tr title="<%= h(totem_token) %>">
          <td><%= t.post.Token_Timeout%>:</td>
          <td><input type="text" name="token" /> ms</td>
        </tr>

        <tr title="<%= h(totem_token_coefficient) %>">
          <td><%= t.post.Token_Coefficient%>:</td>
          <td><input type="text" name="token_coefficient" /></td>
        </tr>

        <tr title="<%= h(totem_token_retransmit) %>">
          <td><%= t.post.Token_Retransmit_Timeout%>:</td>
          <td><input type="text" name="token_retransmit" /> ms</td>
        </tr>

        <tr title="<%= h(totem_token_retransmits_before_loss_const) %>">
          <td><%= t.post.Token_Retransmits_Before_Loss_Constant%>:</td>
          <td>
            <input type="text" name="token_retransmits_before_loss_const" />
          </td>
        </tr>

        <tr title="<%= h(totem_window_size) %>">
          <td><%= t.post.Window_Size%>:</td>
          <td><input type="text" name="window_size" /></td>
        </tr>

      </table>
    </div>
    <div id="csetup-quorum">
      <table class="key-value">
      <tr title="<%= h(quorum_auto_tie_breaker) %>">
        <td><%= t.post.Auto_Tie_Breaker%>:</td>
        <td>
          <select name="auto_tie_breaker">
            <option value="">(<%= t.post.Default%>)</option>
            <option value="on"><%= t.post.turn_on%></option>
            <option value="off"><%= t.post.turn_off%></option>
          </select>
        </td>
      </tr>
      <tr title="<%= h(quorum_last_man_standing) %>">
        <td><%= t.post.Last_Man_Standing%>:</td>
        <td>
          <select name="last_man_standing">
            <option value="">(<%= t.post.Default%>)</option>
            <option value="on"><%= t.post.turn_on%></option>
            <option value="off"><%= t.post.turn_off%></option>
          </select>
        </td>
      </tr>
      <tr title="<%= h(quorum_last_man_standing_window) %>">
        <td><%=t.post.Last_Man_Standing_Window%>:</td>
        <td><input type="text" name="last_man_standing_window" /> ms</td>
      </tr>
      <tr title="<%= h(quorum_wait_for_all) %>">
        <td><%= t.post.Wait_for_All%>:</td>
        <td>
          <select name="wait_for_all">
            <option value="">(<%= t.post.Default%>)</option>
            <option value="on"><%= t.post.turn_on%></option>
            <option value="off"><%= t.post.turn_off%></option>
          </select>
        </td>
      </tr>

      </table>
    </div>
  </div>

  <form class="step cluster-start">
    <p> Cluster has been succesfully created. </p>
    <p>
      <input type="checkbox"
        id="cluster-setup-start"
        name="auto_start"
        value="1"
        checked
      />
      <label for="cluster-setup-start">Start the Cluster</label>
    </p>
  </form>

  <table class="msg-box" style="width:100%"><tr><td/></tr></table>
</div>

<table data-snippet="transport-links-setting" class="type-netmap">
  <tr>
    <td><ul class="link-container"></ul></td>
    <td class="link-detail-list"></td>
  </tr>
</table>

<table data-snippet="transport-options-knet" class="options key-value">
  <tr>
    <td><%= t.post.IP_Version%>: </td>
    <td>
      <select data-name="ip_version">
        <option value="">(<%= t.post.Default%>)</option>
        <option value="ipv4">IPv4</option>
        <option value="ipv6">IPv6</option>
        <option value="ipv4-6"><%= t.post.IPv4_if_available_IPv6_otherwise%></option>
        <option value="ipv6-4"><%= t.post.IPv6_if_available_IPv4_otherwise%></option>
      </select>
    </td>
  </tr>
  <tr title="<%= h(knet_pmtud_interval) %>">
    <td><%= t.post.PMTUd_Interval%>: </td>
    <td><input type="text" data-name="knet_pmtud_interval"/> s</td>
  </tr>
  <tr title="<%= h(knet_link_mode) %>">
    <td><%= t.post.Link_Mode%>: </td>
    <td>
      <select data-name="link_mode">
        <option value="">(<%= t.post.Default%>)</option>
        <option value="passive"><%= t.post.passive%></option>
        <option value="active"><%= t.post.active%></option>
        <option value="rr"><%= t.post.round_robin%></option>
      </select>
    </td>
  </tr>
</table>

<table data-snippet="transport-options-udp" class="options">
  <tr>
    <td><%= t.post.IP_Version%>: </td>
    <td>
      <select data-name="ip_version">
        <option value="">(<%= t.post.Default%>)</option>
        <option value="ipv4">IPv4</option>
        <option value="ipv6">IPv6</option>
        <option value="ipv4-6"><%= t.post.IPv4_if_available_IPv6_otherwise%></option>
        <option value="ipv6-4"><%= t.post.IPv6_if_available_IPv4_otherwise%></option>
      </select>
    </td>
  </tr>
  <tr title="<%= h(udp_netmtu) %>">
    <td>Net MTU: </td>
    <td><input type="text" data-name="netmtu"/></td>
  </tr>
</table>

<li data-snippet="transport-link" class="transport-link">
  <span class="link-label">
    <span class="x sprites delete"></span>
    <span class="label"><%= t.post.Link%></span> <span class="link-nr"></span>
  </span>
</li>

<div data-snippet="transport-link-detail" class="detail">
  <fieldset class="addresses">
    <legend><%= t.post.Addresses%></legend>
    <table class="transport-addresses key-value"></table>
  </fieldset>

  <fieldset class="options">
    <legend><%= t.post.Options%></legend>
  </fieldset>
</div>

<table data-snippet="transport-addr">
  <tr>
    <td class="node-name"></td>
    <td class="node-addr"><input type="text" class="address"/></td>
  </tr>
</table>

<table
  data-snippet="transport-link-options-knet"
  class="transport-link-options-knet key-value"
>
  <tr title="<%= h(knet_link_priority) %>">
  <td><%= t.post.Link_Priority%>:</td>
    <td><input type="text" data-name="link_priority" /></td>
  </tr>
  <tr title="<%= h(knet_mcastport) %>">
    <td><%= t.post.Port%>:</td>
    <td><input type="text" data-name="mcastport" /></td>
  </tr>
  <tr title="<%= h(knet_ping_interval) %>">
    <td><%= t.post.Ping_Interval%>:</td>
    <td><input type="text" data-name="ping_interval" /> ms</td>
  </tr>
  <tr title="<%= h(knet_ping_precision) %>">
    <td><%= t.post.Ping_Precision%>:</td>
    <td><input type="text" data-name="ping_precision" /></td>
  </tr>
  <tr title="<%= h(knet_ping_timeout) %>">
    <td><%= t.post.Ping_Timeout%>:</td>
    <td><input type="text" data-name="ping_timeout" /> ms</td>
  </tr>
  <tr title="<%= h(knet_pong_count) %>">
    <td><%= t.post.Pong_Count%>:</td>
    <td><input type="text" data-name="pong_count" /></td>
  </tr>
  <tr title="<%= h(knet_transport) %>">
    <td><%= t.post.Transport%>:</td>
    <td>
      <select data-name="transport">
        <option value="">(<%= t.post.Default%>)</option>
        <option value="udp">udp</option>
        <option value="sctp">sctp</option>
      </select>
    </td>
  </tr>
</table>

<table data-snippet="transport-link-options-udp">
  <tr title="<%= h(udp_bindnetaddr) %>">
    <td>Bindnetaddr:</td>
    <td><input type="text" data-name="bindnetaddr" /></td>
  </tr>
  <tr title="<%= h(udp_broadcast) %>">
    <td>Broadcast:</td>
    <td>
      <select data-name="broadcast">
        <option value="">(Default)</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
      </select>
    </td>
  </tr>
  <tr title="<%= h(udp_mcastaddr) %>">
    <td>Multicast Address:</td>
    <td><input type="text" data-name="mcastaddr" /></td>
  </tr>
  <tr title="<%= h(udp_mcastport) %>">
    <td>Multicast Port:</td>
    <td><input type="text" data-name="mcastport" /></td>
  </tr>
  <tr title="<%= h(udp_ttl) %>">
    <td>TTL:</td>
    <td><input type="text" data-name="ttl" /></td>
  </tr>
</table>
